doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title Gabriela Josypów
    
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/popper.js/dist/umd/popper.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")

    link(href="/styles/main.css" rel="stylesheet" type="text/css")

  body

    div(class="container-fluid   p-0")

      // Header
      header(id="header" class="header   box box-center   w-100 h-100vh   px-4 pt-4 pb-5 p-sm-4   bg-gradient")

        div(class="header__container   box   w-100 w-max-900p h-100 h-md-auto   mb-3 mb-sm-0    rounded rounded-1rem overflow-hidden")

          // Photo
          article(class="header__article--photo   box box-center   col-12 col-md-6 h-min-300p   px-0   overflow-hidden   position-relative")

            img(src="./images/gabaj.JPG" class="box   w-100 w-max-270p w-max-md-2000p   rounded-t-1rem   position-absolute top-0 position-md-static" alt="")

          // Info
          article(class="box flex-column align-items-center   col-12 col-md-6   py-4 px-0 p-md-4 px-lg-5 pt-lg-5   bg-white")
            
            // Heading
            h1(class="box box-center flex-md-column align-items-md-start align-content-md-start   w-100   h6")

              span(class="col-12 col-md-auto   mb-2 px-0   small opacity-7 text-center") Cześć, jestem
              span(class="d-md-none   col-12   px-0   h4 text-center") Gabriela Josypów
              span(class="d-none d-md-inline   px-0   h2") Gabriela Josypów
            
            // Go to btns
            nav(class="box   w-100   my-auto")

              ul(class="list-unstyled   d-none d-md-block   w-100")
                li(class="box   w-100   mt-1") 
                  a(href="#about" class="header__info__a--go-to   box box-center-y   w-100") O mnie <i class="fas fa-user   ml-auto"></i>
                li(class="box   w-100   mt-1") 
                  a(href="#education" class="header__info__a--go-to   box box-center-y   w-100") Wyszktałcenie <i class="fas fa-university   ml-auto"></i>
                li(class="box   w-100   mt-1") 
                  a(href="#job" class="header__info__a--go-to   box box-center-y   w-100") Doświadczenie zawodowe <i class="fas fa-briefcase   ml-auto"></i>
                li(class="box   w-100   mt-1") 
                  a(href="#skills" class="header__info__a--go-to   box box-center-y   w-100") Umiejętności <i class="fas fa-tools   ml-auto"></i>
                li(class="box   w-100   mt-1") 
                  a(href="#languages" class="header__info__a--go-to   box box-center-y   w-100") Znajomość języków obcych <i class="fas fa-globe-europe   ml-auto"></i>
                li(class="box   w-100   mt-1") 
                  a(href="#interests" class="header__info__a--go-to   box box-center-y   w-100") Zainteresowania <i class="fas fa-heart   ml-auto"></i>
                li(class="box   w-100   mt-1") 
                  a(href="#associations" class="header__info__a--go-to   box box-center-y   w-100") Stowarzyszenia i organizacje <i class="fas fa-sitemap   ml-auto"></i>
                li(class="box   w-100   mt-1") 
                  a(href="#contact" class="header__info__a--go-to   box box-center-y   w-100") Kontakt <i class="fas fa-envelope   ml-auto"></i>
              
            // Action btns
            div(class="box box-center   w-100   mt-auto")

              a(href="#" class="btn btn-outline-primary   box box-center   w-40p h-40p   mx-1 p-0   rounded-10rem") <i class="fab fa-facebook-f"></i>
              a(href="#" class="btn btn-outline-primary   box box-center   w-40p h-40p   mx-1 p-0   rounded-10rem") <i class="fab fa-instagram"></i>

              a(href='#about' class="btn btn-primary   box box-center   w-40p h-40p   mx-1 p-0   mt-auto   rounded-10rem")
                i(class="fas fa-arrow-down")
        
      // Main
      main(class="box   w-100")

        // Side nav
        nav(class="main__side-nav   box   w-100 w-max-sm-50p   bg-white rounded-sm-r-5p   position-fixed bottom-0 left-0   z-index-10")

          ul(class="list-unstyled   box flex-nowrap flex-sm-column   w-100 w-max-sm-50p")
            li(class="mx-auto")
              a(href="#about" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--about   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-user")
            li(class="mx-auto")
              a(href="#education" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--education   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-university")
            li(class="mx-auto")
              a(href="#job" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--job   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-briefcase")
            li(class="mx-auto")
              a(href="#skills" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--skills   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-tools")
            li(class="mx-auto")
              a(href="#languages" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--languages   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-globe-europe")
            li(class="mx-auto")
              a(href="#interests" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--interests   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-heart")
            li(class="mx-auto")
              a(href="#associations" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--associations   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-sitemap")
            li(class="mx-auto")
              a(href="#contact" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--contact   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-envelope")
            li(class="d-sm-none   mx-auto")
              a(href="#header" class="main__side-nav__ul__li__btn main__side-nav__ul__li__btn--up   btn   box box-center   w-30p h-40p   position-relative")
                span(class="position-absolute")
                  i(class="fas fa-chevron-up")

        // About me
        article(id="about" class="main__article--content   box box-start-y   w-100   p-3 p-sm-4")

          // info
          div(class="box box-center   col-12 col-md-6   mt-lg-5 py-md-4 px-md-3 pl-lg-5 pr-lg-0")
            
            header(class="box box-center   w-100   px-2 py-4   text-primary")

              h2(class="h3")

                i(class="fas fa-user")
                span(class="ml-3") O mnie
            
            div(class="p-2")

              p(class="m-0") Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eveniet sequi vero laboriosam eum accusamus maiores sed incidunt dicta, dolorem accusantium explicabo labore similique earum libero placeat voluptas, at esse architecto laborum minima iure. Placeat labore neque porro rem eaque iusto modi repudiandae doloremque quae non illum, nobis aperiam itaque!

          // Photo
          div(class="d-none d-md-flex   box box-center   col-6   p-4")

            div(class="main__article__photo--about   box box-center   w-100   p-lg-5 m-lg-3   position-relative")

              img(src="./images/gaba2.jpg" class="w-100" alt="Gabriela Josypów image")

        // Education
        article(id="education" class="main__article--content   main__article--education   box   w-100   p-3 p-lg-0   bg-primary text-white   position-relative")

          // High school
          section(class="main__education__school   box   w-100   p-2" style="display: none;")

            // Photo
            div(class="w-max-400p w-max-lg-2000p col-12 col-lg-6   mx-auto px-0 px-lg-4 py-lg-5 px-xl-5   position-relative")

              img(src="./images/liceum.jpg" class="w-100   position-relative" alt="University building")
            
            // Info
            div(class="box box-start   col-12 col-lg-6   px-sm-5 pb-lg-4")
                
              // Heading
              h3(class="w-100   pb-3 pt-4 py-lg-4 my-lg-3   text-center")

                i(class="fas fa-school")
                span(class="ml-3") Liceum

              // Body text
              p(class="w-max-400p w-max-lg-2000p   my-0 mx-auto pr-lg-3") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum soluta qui fuga delectus, neque consequuntur blanditiis quod quae facilis ea quisquam magnam molestias vero voluptates enim natus tenetur inventore repellendus corrupti ab veniam rem quibusdam a obcaecati? Totam enim laborum impedit assumenda quas delectus, quos, tenetur similique ut odit consectetur.

          // Studies
          section(class="main__education__studies   box   w-100   p-2")

            // Photo
            div(class="w-max-400p w-max-lg-2000p col-12 col-lg-6   mx-auto px-0 px-lg-4 py-lg-5 px-xl-5   position-relative")

              img(src="./images/uj.jpg" class="w-100   position-relative" alt="School building")
            
            // Info
            div(class="box box-start   col-12 col-lg-6   px-sm-5 pb-lg-4")
              
              // Heading
              h3(class="w-100   pb-3 pt-4 py-lg-4 my-lg-3   text-center")

                i(class="fas fa-university")
                span(class="ml-3") Studia

              // Body text
              p(class="w-max-400p w-max-lg-2000p   my-0 mx-auto pr-lg-3") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum soluta qui fuga delectus, neque consequuntur blanditiis quod quae facilis ea quisquam magnam molestias vero voluptates enim natus tenetur inventore repellendus corrupti ab veniam rem quibusdam a obcaecati? Totam enim laborum impedit assumenda quas delectus, quos, tenetur similique ut odit consectetur.

          // Nav (Mobile)
          section(class="box box-center   w-100   pt-4 pt-lg-0 pb-5")

            button(type="button" class="main__education__btn--school   btn btn-outline-light   w-min-30p h-min-30p   mx-2 p-0   rounded-10rem border-2p"
                  onclick="changeDisplay('.main__education__school, .main__education__studies', 'fadeIn, hide', '300, 0');  addClass('.main__education__btn--school', 'active'); removeClass('.main__education__btn--studies', 'active');")

            button(type="button" class="main__education__btn--studies   btn btn-outline-light active   w-min-30p h-min-30p   mx-2 p-0   rounded-10rem border-2p"
                  onclick="changeDisplay('.main__education__studies, .main__education__school', 'fadeIn, hide', '300, 0');  addClass('.main__education__btn--studies', 'active'); removeClass('.main__education__btn--school', 'active');")
        
        // Working exprience
        article(id="job" class="main__article--content   box   w-100 w-max-900p   mx-auto p-3")

          // Header
          header(class="box box-center   w-100   px-2 pb-5 pt-4 mt-2   text-primary")

            h2(class="box box-center flex-nowrap   h3 text-center")

              i(class="fas fa-briefcase")
              span(class="ml-3") Doświadczenie zawodowe
          
          // Body
          div(class="w-100   p-2")

            // Waiter
            section(class="box   w-100")

              // Icon
              div(class="box box-center   w-90p h-90p   m-0   border border-primary border-2p rounded-10p h2 text-primary")

                i(class="fas fa-utensils")

              // Section header
              header(class="col   pr-0")

                h3(class="mb-1   h6 font-weight-normal") Kelner
                p(class="mb-1   ") 07/2017 - obecnie
                p(class="mb-0   small") Hotel Millenium, Dębica

              // Text
              p(class="mb-0 mt-3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iure magni odit quidem dolor pariatur blanditiis ad ut beatae ipsam dolore est nobis, incidunt non molestias repudiandae illo mollitia. Sequi.

            // Viewer service
            section(class="box   w-100    mt-5")

              // Icon
              div(class="box box-center   w-90p h-90p   m-0   border border-primary border-2p rounded-10p h2 text-primary")

                i(class="fas fa-film")

              // Section header
              header(class="col   pr-0")

                h3(class="mb-1   h6 font-weight-normal") Obsługa Widza
                p(class="mb-1   ") 03/2018 - 06/2018
                p(class="mb-0   small") Cinema City Poland, Kraków, Bonarka

              // Text
              p(class="mb-0 mt-3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iure magni odit quidem dolor pariatur blanditiis ad ut beatae ipsam dolore est nobis, incidunt non molestias repudiandae illo mollitia. Sequi.

            // Dealer
            section(class="box   w-100    mt-5")

              // Icon
              div(class="box box-center   w-90p h-90p   m-0   border border-primary border-2p rounded-10p h2 text-primary")

                i(class="fas fa-tshirt")

              // Section header
              header(class="col   pr-0")

                h3(class="mb-1   h6 font-weight-normal") Sprzedawca
                p(class="mb-1") 06/2017 - 09/2017 
                p(class="mb-0   small") Reserved, Dębica

              // Text
              p(class="mb-0 mt-3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iure magni odit quidem dolor pariatur blanditiis ad ut beatae ipsam dolore est nobis, incidunt non molestias repudiandae illo mollitia. Sequi.

            // Organizer of cultural activities
            section(class="box   w-100    mt-5")

              // Icon
              div(class="box box-center   w-90p h-90p   m-0   border border-primary border-2p rounded-10p h2 text-primary")

                i(class="fas fa-grin-beam")

              // Section header
              header(class="col   pr-0")

                h3(class="mb-1   h6 font-weight-normal") Animator Kultury
                p(class="mb-1   ") 08/2015 - 08/2015
                p(class="mb-0   small") Czad Festival, Straszęcin

              // Text
              p(class="mb-0 mt-3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iure magni odit quidem dolor pariatur blanditiis ad ut beatae ipsam dolore est nobis, incidunt non molestias repudiandae illo mollitia. Sequi.
        
        // Contact with me
        article(class="box box-center   w-100   mt-4 py-5   bg-gradient")
        
          h2(class="box box-center   w-100   text-center text-white")
            span(class="w-100   mb-3   h4") Skontaktuj się ze mną
            i(class="fas fa-envelope")

        // Skills
        article(id="skills" class="main__article--content   box box-center   w-100   p-3")

          // Header
          header(class="box box-center   w-100   px-2 py-4   text-primary")

            h2(class="h3")

              i(class="fas fa-tools")
              span(class="ml-3") Umiejętności
          
          // Body
          div(class="box box-center-x align-items-start   w-100")

            // Skill card
            section(class="col col-sm-5 col-md-3 w-min-260p h-min-100p   mx-2 my-3 m-sm-3 p-0   shadow")

              // Card header
              header(class="box box-center flex-nowrap   w-100   p-3   bg-primary text-white")

                i(class="fas fa-utensils   mt-1")
                span(class="ml-3") Kelner, sprzedawca

              // Card body
              div(class="w-100   p-3")

                p(class="m-0") Praca jako kelnerka i sprzedawca nauczyły mnie: <br> &bull; szybkiego tempa pracy <br> &bull; wytrzymałości fizycznej <br> &bull; dbania o zadowolenie klienta

            section(class="col col-sm-5 col-md-3 w-min-260p h-min-100p   mx-2 my-3 m-sm-3 p-0   shadow")

              // Card header
              header(class="box box-center flex-nowrap   w-100   p-3   bg-primary text-white")

                i(class="fas fa-film   mt-1")
                span(class="ml-3") Obsługa Widza

              // Card body
              div(class="w-100   p-3")

                p(class="m-0") Praca w kinie nauczyła mnie <b class="font-weight-bold">otwartości</b> w nawiązywaniu kontaktów z klientem.

            section(class="col col-sm-5 col-md-3 w-min-260p h-min-100p   mx-2 my-3 m-sm-3 p-0   shadow")

              // Card header
              header(class="box box-center flex-nowrap   w-100   p-3   bg-primary text-white")

                i(class="fas fa-hands-helping   mt-1")
                span(class="ml-3") Wolontariat

              // Card body
              div(class="w-100   p-3")

                p(class="m-0") Wolontariat w wielu placówkach wychowawczych nauczył mnie <b class="font-weight-bold">sumienności</b>, <b class="font-weight-bold">punktualności</b> i <b class="font-weight-bold">skrupulatności</b> w wykonywaniu swoich obowiązków

            section(class="col col-sm-5 col-md-3 w-min-260p h-min-100p   mx-2 my-3 m-sm-3 p-0   shadow")

              // Card header
              header(class="box box-center flex-nowrap   w-100   p-3   bg-primary text-white")

                i(class="fas fa-running   mt-1")
                span(class="ml-3") Zajęcia dodatkowe

              // Card body
              div(class="w-100   p-3")

                p(class="m-0") Wiele zajęć dodatkowych już podczas nauki szkolnej, ale i teraz podczas studiowania nauczyły mnie <b class="font-weight-bold">dobrej organizacji czasu</b>.

            section(class="col col-sm-5 col-md-3 w-min-260p h-min-100p   mx-2 my-3 m-sm-3 p-0   shadow")

              // Card header
              header(class="box box-center flex-nowrap   w-100   p-3   bg-primary text-white")

                i(class="fas fa-university   mt-1")
                span(class="ml-3   text-center") Stowarzyszenie <br> All in UJ

              // Card body
              div(class="w-100   p-3")

                p(class="m-0") Aktywność w stowarzyszeniu pozwoliła mi zdobyć umiejętność <b class="font-weight-bold">szybkiego podejmowania decyzji</b> i <b class="font-weight-bold">pracy pod presją czasu</b>. Aktywność ta również pozwala mi na <b class="font-weight-bold">wykorzystywanie mojej kreatywności</b> i <b class="font-weight-bold">zaangażowania w organizacje wydarzeń</b>.

            section(class="col col-sm-5 col-md-3 w-min-260p h-min-100p   mx-2 my-3 m-sm-3 p-0   shadow")

              // Card header
              header(class="box box-center flex-nowrap   w-100   p-3   bg-primary text-white")

                i(class="fas fa-user   mt-1")
                span(class="ml-3   text-center") Umiejętności <br> dodatkowe

              // Card body
              div(class="w-100   p-3")

                p(class="m-0") &bull; Posiadam prawo jazdy kategorii B <br> &bull; Posiadam praktyczną znajomość narzędzi MS Office - Excel, Word <br> <br> Wszystkie dotychczasowe aktywności pomogły mi nauczyć się <b class="font-weight-bold">podejmować inicjatywę</b> i <b class="font-weight-bold">działać samodzielnie</b>.

        // Foreign languages
        article(id="languages" class="main__article--content   box box-center   w-100   p-3 my-md-5")

          // Header
          header(class="box box-center   w-100   mb-3 py-3   text-primary")

            h2(class="box box-center flex-nowrap   h3")

              i(class="fas fa-globe-europe")
              span(class="ml-2   text-center") Znajomość języków obcych
          
          // Body
          div(class="box box-center-x   w-100 w-max-900p   mx-auto")
          
            // Language card
            section(class="box   col w-min-250p col-md-4   mt-4 p-2 px-lg-3")
              
              div(class="box   w-100 h-min-100p   pt-4   border shadow rounded   position-relative")
                
                // Flag
                div(class="w-80p   overflow-hidden rounded   position-absolute top-n15 left-n15")

                  img(src="./images/gb.png" class="w-100" alt="Great Britain flag")

                h3(class="w-100   mt-3   h5 font-weight-normal text-center") Język angielski

                p(class="w-100   mt-3   text-center") <span class="small   opacity-5">stopień</span> <br> zaawansowany, B2
          
            // Language card
            section(class="box   col w-min-250p col-md-4   mt-4 p-2 px-lg-3")
              
              div(class="box   w-100 h-min-100p   pt-4   border shadow rounded   position-relative")
                
                // Flag
                div(class="w-80p   overflow-hidden rounded   position-absolute top-n15 left-n15")

                  img(src="./images/germany.png" class="w-100" alt="Great Britain flag")

                h3(class="w-100   mt-3   h5 font-weight-normal text-center") Język niemiecki

                p(class="w-100   mt-3   text-center") <span class="small   opacity-5">stopień</span> <br> średni, A2
          
            // Language card
            section(class="box   col w-min-250p col-md-4   mt-4 p-2 px-lg-3")
              
              div(class="box   w-100 h-min-100p   pt-4   border shadow rounded   position-relative")
                
                // Flag
                div(class="w-80p   overflow-hidden rounded   position-absolute top-n15 left-n15")

                  img(src="./images/spain.png" class="w-100" alt="Great Britain flag")

                h3(class="w-100   mt-3   h5 font-weight-normal text-center") Język hiszpański

                p(class="w-100   mt-3   text-center") <span class="small   opacity-5">stopień</span> <br> początek nauki

        // Interests
        article(id="interests" class="main__article--content   box box-center   w-100   p-3   bg-dark-1")

          // Header
          header(class="box box-center   w-100   mb-3 py-3   text-primary")

            h2(class="box box-center flex-nowrap   h3   py-4")

              i(class="fas fa-heart")
              span(class="ml-2   text-center") Zainteresowania
          
          // Body
          div(class="box   w-100 w-max-900p   mx-auto pb-3")
            
            // Psychology
            section(class="box align-items-start   w-100   p-2")

              // Photo
              div(class="main__article__photo--interests   box   w-max-300p   mx-auto   position-relative")
                
                div(class="box   w-100   rounded overflow-hidden")

                  img(src="./images/mind.png" class="w-100" alt="Brain image")

              div(class="box   col-12 col-md   pl-md-4")
                
                // Section header
                header(class="box   w-100")

                  h3(class="main__article__heading--interests   box box-center   w-100   py-4 pt-md-0   h5") <i class="mr-4">Psychologia</i>

                // Text
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro assumenda nobis, blanditiis asperiores, deleniti delectus reprehenderit ducimus quibusdam placeat, magni dicta suscipit id cumque omnis sit veniam qui. Laboriosam error eius quo aperiam libero deleniti corporis obcaecati ut aliquid laudantium.
              
            // Dancing
            section(class="box align-items-start   w-100   mt-md-4 p-2")

              // Photo
              div(class="main__article__photo--interests   box   w-max-300p   mx-auto   order-md-1   position-relative")
                
                div(class="box   w-100   rounded overflow-hidden")

                  img(src="./images/taniec.jpg" class="w-100" alt="Dancing image")

              div(class="box   col-12 col-md   pr-md-4")
                  
                // Section header
                header(class="box   w-100")

                  h3(class="main__article__heading--interests   box box-center   w-100   py-4 pt-md-0   h5") <i class="mr-4">Taniec</i>

                // Text
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro assumenda nobis, blanditiis asperiores, deleniti delectus reprehenderit ducimus quibusdam placeat, magni dicta suscipit id cumque omnis sit veniam qui. Laboriosam error eius quo aperiam libero deleniti corporis obcaecati ut aliquid laudantium.
              
            // Theatre
            section(class="box align-items-start   w-100   mt-md-4 p-2")

              // Photo
              div(class="main__article__photo--interests   box   w-max-300p   mx-auto   position-relative")
                
                div(class="box   w-100   rounded overflow-hidden")

                  img(src="./images/teatr.jpg" class="w-100" alt="Brain image")

              div(class="box   col-12 col-md   pl-md-4")
                  
                // Section header
                header(class="box   w-100")

                  h3(class="main__article__heading--interests   box box-center   w-100   py-4 pt-md-0   h5") <i class="mr-4">Teatr</i>

                // Text
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro assumenda nobis, blanditiis asperiores, deleniti delectus reprehenderit ducimus quibusdam placeat, magni dicta suscipit id cumque omnis sit veniam qui. Laboriosam error eius quo aperiam libero deleniti corporis obcaecati ut aliquid laudantium.
              
            // Traveling
            section(class="box align-items-start   w-100   mt-md-4 p-2")

              // Photo
              div(class="main__article__photo--interests   box   w-max-300p   mx-auto   order-md-1   position-relative")
                
                div(class="box   w-100   rounded overflow-hidden")

                  img(src="./images/podróże.jpg" class="w-100" alt="Brain image")

              div(class="box   col-12 col-md   pr-md-4")
                    
                // Section header
                header(class="box   w-100")

                  h3(class="main__article__heading--interests   box box-center   w-100   py-4 pt-md-0   h5") <i class="mr-4">Podróże</i>

                // Text
                p(class="") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro assumenda nobis, blanditiis asperiores, deleniti delectus reprehenderit ducimus quibusdam placeat, magni dicta suscipit id cumque omnis sit veniam qui. Laboriosam error eius quo aperiam libero deleniti corporis obcaecati ut aliquid laudantium.

        // Associations
        article(id="associations" class="main__article--content   box   w-100   p-3")
          
          header(class="box box-center   w-100   px-2 py-5   text-primary")

            h2(class="box box-center flex-nowrap   h3   py-2")

              i(class="fas fa-sitemap")
              span(class="ml-3   text-center") Stowarzyszenia i organizacje

          // Stowarzyszenie All in UJ
          section(class="box   w-100 w-max-900p   mx-auto p-2 pb-sm-4")

            // Section header
            header(class="box   w-100")

              h3(class="main__article__heading--associations   box box-center-y flex-nowrap   w-100   h5") Stowarzyszenie <br class="d-sm-none"> All in UJ

            // Body
            div(class="box   w-100   mt-2 pb-3")

              // Photo
              div(class="w-max-300p   mx-auto my-4")

                img(src="./images/allin.png" class="w-100" alt="All in UJ image")

              // Text
              p(class="col-md   p-0 px-md-4 py-md-3") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam ea magni provident quo quidem vitae explicabo possimus voluptatem nesciunt id optio eum deleniti facere sed iure in, nobis eveniet eos aut? Dignissimos maxime aliquid sit omnis quisquam laborum veritatis ullam.

        // Contact
        article(id="contact" class="main__article--content   box   w-100   p-2 px-md-5   bg-gradient text-white")

          // Photo
          div(class="box   d-none d-lg-flex   col-6 p-5")

            div(class="box box-center   w-100 h-100   rounded-1rem overflow-hidden   position-relative")

              img(src="./images/gaba2.jpg" class="w-100   rounded-1rem   position-absolute top-0 left-0" alt="Gabriela Josypów photo")

          // Info
          div(class="box   col-12 col-lg-6 w-max-600p w-max-lg-2000p   mx-auto p-3 p-sm-5")
            
            header(class="box   w-100")
              
              h3(class="box flex-column   h6")
                <span class="small opacity-8">Masz pytanie?</span>
                <span class="mt-2   small opacity-8">Chcesz poprosić o pełne CV?</span>
                <span class="mt-2   h4">Skontaktuj się ze mną</span>

            form(action="/email" method="post" class="box   w-100   mt-3")

              div(class="form-group   w-100")

                label(for="email") Email
                input(type="email" class="form-control   w-100" id="email" name="email")

              div(class="form-group   w-100")

                label(for="subject") Temat
                input(type="text" class="form-control   w-100" id="subject" name="subject")

              div(class="form-group   w-100")

                label(for="message") Treść
                textarea(class="form-control   w-100" rows="5" id="message" name="message")

              div(class="form-group   w-100   mb-0   text-center")

                button(type="button" class="btn--send-email   btn btn-light   w-100p   mt-2   rounded-10rem")
                  i(class="fas fa-paper-plane   text-primary")

      // Footer
      footer(class="footer   box   w-100   text-white")

        ul(class="list-unstyled   box   w-100   m-0   p-4 p-sm-5")

          div(class="col-sm-6 col-md-4")
            li(class="small") <a href="#" class="text-white">O mnie</a>
            li(class="mt-2   small") <a href="#" class="text-white">Wykształcenie</a>
            li(class="mt-2   small") <a href="#" class="text-white">Doświadczenie zawodowe</a>
            li(class="mt-2   small") <a href="#" class="text-white">Umiejętności</a>

          div(class="col-sm-6 col-md-4")
            li(class="mt-2 mt-sm-0   small") <a href="#" class="text-white">Znajomość języków obcych</a>
            li(class="mt-2   small") <a href="#" class="text-white">Zainteresowania</a>
            li(class="mt-2   small") <a href="#" class="text-white">Stowarzyszenia i organizacje</a>
            li(class="mt-2   small") <a href="#" class="text-white">Kontakt</a>

        // Social media
        div(class="box box-center   w-100   mb-4")

          a(href="#" class="btn btn-light   box box-center   w-40p h-40p   mr-3 p-0   text-dark rounded-10rem") <i class="fab fa-facebook-f"></i>
          a(href="#" class="btn btn-light   box box-center   w-40p h-40p   p-0   text-dark rounded-10rem") <i class="fab fa-instagram"></i>

        // Author
        div(class="box   w-100   bg-dark-10")

          p(class="box   w-100 h-100   p-2   bg-dark-3 small") <span class="ml-auto">Created by</span> <a href="#" class="ml-1   text-white">Bartłomiej Pyzocha</a>
    
      // Go to top btn
      div(class="d-none d-sm-block   p-3   overflow-hidden   position-fixed bottom-0 right-0")
        a(href="#header" class="btn--go-top   btn   box box-center   w-50p h-50p   bg-dark-7 text-white") <i class="fas fa-chevron-up"></i>

      // Notifications
      div(class="box--notifications   box   w-100 w-max-250p   p-3   position-fixed top-10 right-10 bg-success rounded text-white")

        p(class="error   w-100   h5") Error!
        p(class="message   w-100   mb-0")


script(src="./scripts/main.js")

